@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Almarai:wght@300;400;700;800&family=Bokor&family=Cairo:wght@200..1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Markazi+Text:wght@400..700&family=Parkinsans:wght@300..800&family=Reem+Kufi:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap'); */

@layer base {
  html {
    font-family: "IBM Plex Sans Arabic", serif;
  }
  * {
    font-family: inherit;
  }
  :root {
    /* الألوان الأساسية */
    --primary: 342 69% 30%; /* BOYSENBERRY - #681034 */
    --primary-light: 342 69% 40%;
    --primary-dark: 342 69% 20%;
    
    --secondary: 14 57% 61%; /* HARVEST GOLD - #d68c3c */
    --secondary-light: 14 57% 71%;
    --secondary-dark: 14 57% 51%;
    
    /* الألوان المحايدة */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    
    --radius: 0.5rem;
  }
  
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* إخفاء شريط التمرير في جميع المتصفحات */
/* إخفاء شريط التمرير في Chrome و Safari و Opera */
::-webkit-scrollbar {
  display: none;
}

/* إخفاء شريط التمرير في IE و Edge و Firefox */
* {
  -ms-overflow-style: none;  /* IE و Edge */
  scrollbar-width: none;  /* Firefox */
}

.font-cairo {
  font-family: var(--font-cairo);
}

.font-tajawal {
  font-family: var(--font-tajawal);
}

.font-almarai {
  font-family: var(--font-almarai);
}

.font-ibm {
  font-family: var(--font-ibm);
}

.font-rubik {
  font-family: var(--font-rubik);
}

.font-alexandria {
  font-family: var(--font-alexandria);
}

.font-markazi {
  font-family: var(--font-markazi);
}

.font-reem {
  font-family: var(--font-reem);
}

.font-parkinsans {
  font-family: var(--font-parkinsans);
}

.font-bokor {
  font-family: var(--font-bokor);
}
